@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(217, 54%, 11%);
    color:white;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}
.card{
    margin: 5vh 0;
    width: 375px;
    height: 550px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 25px;
}
.content{
    background-color: hsl(216, 50%, 16%);
    display: flex;
    flex-direction: column;
    width: 275px;
}
.img{
    margin:   3rem;
}
.img img{
    margin: 5vh 0;
    border-radius:25px;
}
.content a{
    font-size: 18px;
    margin: 0 3rem;
    font-weight: 600;
    text-decoration: none;
    color:white
}
.content a:hover{
    color:hsl(178, 100%, 50%);
    transition: 0.5s;
}
.content p{
    margin: 0 3rem;
    margin-top: 1vh;
    width: 275px;
    font-size: 17px;
    color:darkgrey;
    font-weight: 300;
}
.value{
    display: flex;
    flex-direction: row;
    width: 275px;
    align-items:baseline;
    justify-content: space-between;
    margin: 2vh 3rem;
   
}
.value__first{
    display: flex;
    flex-direction: row;
    align-items:stretch;

}
.value__first h4{
    margin-left: 0.5rem;
    width: 100px;
    color:hsl(178, 100%, 50%);
}
.value__second{
    display: flex;
    flex-direction: row;
    align-items:stretch;
    margin-left: 3rem;
}
.value__second h4{
    margin-left: 0.5rem;
    width: 100px;
    color:darkgrey;
    font-weight: 300;
    
}
hr{
    width: 300px;
    margin: 3vh 2rem;
    background-color:hsl(215, 32%, 27%);
}
.author{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-start;
    margin-left: 3rem;
}
.author p{
    margin-left: 0.5rem;
    font-size: 17px;
    color:darkgrey;
    font-weight: 400;
}
.author a{
    text-decoration: none;
    color:white;
    font-weight: 600;
}
.author a:hover{
    color:hsl(178, 100%, 50%);
    transition: 0.5s;
}
.author img{
    border: solid white 1px;
    border-radius: 25px;
}